<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Explicitly declare monitored packages for package visibility -->
    <queries>
        <!-- Monitored apps -->

        <package android:name="com.alibaba.aliexpress" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.apusapps.browser" />
        <package android:name="com.apusapps.launcher" />
        <package android:name="com.azarlive.android" />
        <package android:name="com.baidu.BaiduMap" />
        <package android:name="com.baidu.translate" />
        <package android:name="com.badoo.mobile" />
        <package android:name="com.banggood.client" />
        <package android:name="com.commsource.beautyplus" />
        <package android:name="com.meitu.beautyplusme" />
        <package android:name="com.meitu.beautycamera" />
        <package android:name="sg.bigo.live" />
        <package android:name="video.like" />
        <package android:name="com.bumble.app" />
        <package android:name="com.intsig.camscanner" />
        <package android:name="com.intsig.camscannerhd" />
        <package android:name="com.intsig.camscannerlite" />
        <package android:name="com.clubfactory.app" />
        <package android:name="com.cleanmaster.mguard" />
        <package android:name="com.ksmobile.cb" />
        <package android:name="com.cleanmaster.security" />
        <package android:name="com.cmcm.lite" />
        <package android:name="com.coffeemeetsbagel" />
        <package android:name="com.couchsurfing.mobile.android" />
        <package android:name="com.elex.cok.gp" />
        <package android:name="in.dailyhunt" />
        <package android:name="com.dianxinos.dxbs" />
        <package android:name="com.duapps.cleaner" />
        <package android:name="com.duapps.recorder" />
        <package android:name="com.duapps.applock" />
        <package android:name="com.duapps.browser" />
        <package android:name="co.ello.Ello" />
        <package android:name="com.estrongs.android.pop" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.facebook.pages.app" />
        <package android:name="com.facebook.adsmanager" />
        <package android:name="com.friendsfeed" />
        <package android:name="com.globalegrow.app.gearbest" />
        <package android:name="com.ftw_and_co.happn" />
        <package android:name="in.helloapp" />
        <package android:name="com.bsb.hike" />
        <package android:name="co.hinge.app" />
        <package android:name="com.hungama.myplay.activity" />
        <package android:name="com.imo.android.imoim" />
        <package android:name="com.instagram.android" />
        <package android:name="com.instagram.barcelona" />
        <package android:name="com.instagram.layout" />
        <package android:name="com.instagram.boomerang" />
        <package android:name="com.kwai.video" />
        <package android:name="jp.naver.line.android" />
        <package android:name="com.cmcm.live" />
        <package android:name="com.mi.global.shop" />
        <package android:name="com.mi.global.bbs" />
        <package android:name="com.xiaomi.mivideocall" />
        <package android:name="com.mi.globalbrowser" />
        <package android:name="com.xiaomi.mipicks" />
        <package android:name="com.modlily.android" />
        <package android:name="com.nimbuzz" />
        <package android:name="com.nono.android" />
        <package android:name="com.newsdog" />
        <package android:name="com.okcupid.app" />
        <package android:name="com.lbe.parallel.intl" />
        <package android:name="com.popxo" />
        <package android:name="com.pratilipi.mobile" />
        <package android:name="com.tencent.ig" />
        <package android:name="com.tencent.iglite" />
        <package android:name="com.pubg.newstate" />
        <package android:name="com.tencent.arenabreakout" />
        <package android:name="com.activision.callofduty.shooter" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.qqmusic" />
        <package android:name="com.tencent.qqmail" />
        <package android:name="com.tencent.qqlive" />
        <package android:name="com.tencent.mtt" />
        <package android:name="com.tencent.wesync" />
        <package android:name="com.qzone" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.romwe" />
        <package android:name="com.rosegal" />
        <package android:name="com.lenovo.anyshare.gps" />
        <package android:name="shareit.lite" />
        <package android:name="com.zzkko" />
        <package android:name="com.campmobile.snow" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.songspk.app" />
        <package android:name="Songs.pk" />
        <package android:name="com.melodis.midomiMusicIdentifier.freemium" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.zhiliaoapp.musically.go" />
        <package android:name="com.lemon.lvoverseas" />
        <package android:name="com.lemon.lvoverseas.lite" />
        <package android:name="com.p1.mobile.putong" />
        <package android:name="com.tatteam.totalk" />
        <package android:name="com.truecaller" />
        <package android:name="com.truecaller.lite" />
        <package android:name="com.tumblr" />
        <package android:name="com.tinder" />
        <package android:name="com.tinder.lite" />
        <package android:name="com.trulymadly.android.app" />
        <package android:name="com.UCMobile.intl" />
        <package android:name="com.uc.browser.en" />
        <package android:name="com.ucturbo" />
        <package android:name="com.uc.iflow" />
        <package android:name="com.asiainno.uplive" />
        <package android:name="com.viber.voip" />
        <package android:name="com.vimo.videoeditor" />
        <package android:name="com.nebula.vigo" />
        <package android:name="com.vmate" />
        <package android:name="com.quvideo.xiaoying" />
        <package android:name="com.quvideo.xiaoying.pro" />
        <package android:name="app.vokal.india" />
        <package android:name="com.netqin.ps" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.tencent.mm.small" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.baidu.wondercamera" />
        <package android:name="cn.jingling.motu.photowonder" />
        <package android:name="com.doubleyou.w" />
        <package android:name="cn.xender" />
        <package android:name="com.yelp.android" />
        <package android:name="us.zoom.videomeetings" />
    </queries>

    <application
        android:name=".BannedAppDetectorApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BannedAppDetector">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BannedAppDetector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
