<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Explicitly declare monitored packages for package visibility -->
    <queries>
        <!-- Monitored apps -->

        <package android:name="com.alibaba.aliexpress" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.apusapps.browser" />
        <package android:name="com.apusapps.launcher" />
        <package android:name="com.azarlive.android" />
        <package android:name="com.baidu.BaiduMap" />
        <package android:name="com.baidu.translate" />
        <package android:name="com.badoo.mobile" />
        <package android:name="com.banggood.client" />
        <package android:name="com.commsource.beautyplus" />
        <package android:name="com.meitu.beautyplusme" />
        <package android:name="com.meitu.beautycamera" />
        <package android:name="sg.bigo.live" />
        <package android:name="video.like" />
        <package android:name="com.bumble.app" />
        <package android:name="com.intsig.camscanner" />
        <package android:name="com.intsig.camscannerhd" />
        <package android:name="com.intsig.camscannerlite" />
        <package android:name="com.clubfactory.app" />
        <package android:name="com.cleanmaster.mguard" />
        <package android:name="com.ksmobile.cb" />
        <package android:name="com.cleanmaster.security" />
        <package android:name="com.cmcm.lite" />
        <package android:name="com.coffeemeetsbagel" />
        <package android:name="com.couchsurfing.mobile.android" />
        <package android:name="com.elex.cok.gp" />
        <package android:name="in.dailyhunt" />
        <package android:name="com.dianxinos.dxbs" />
        <package android:name="com.duapps.cleaner" />
        <package android:name="com.duapps.recorder" />
        <package android:name="com.duapps.applock" />
        <package android:name="com.duapps.browser" />
        <package android:name="co.ello.Ello" />
        <package android:name="com.estrongs.android.pop" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.facebook.pages.app" />
        <package android:name="com.facebook.adsmanager" />
        <package android:name="com.friendsfeed" />
        <package android:name="com.globalegrow.app.gearbest" />
        <package android:name="com.ftw_and_co.happn" />
        <package android:name="in.helloapp" />
        <package android:name="com.bsb.hike" />
        <package android:name="co.hinge.app" />
        <package android:name="com.hungama.myplay.activity" />
        <package android:name="com.imo.android.imoim" />
        <package android:name="com.instagram.android" />
        <package android:name="com.instagram.barcelona" />
        <package android:name="com.instagram.layout" />
        <package android:name="com.instagram.boomerang" />
        <package android:name="com.kwai.video" />
        <package android:name="jp.naver.line.android" />
        <package android:name="com.cmcm.live" />
        <package android:name="com.mi.global.shop" />
        <package android:name="com.mi.global.bbs" />
        <package android:name="com.xiaomi.mivideocall" />
        <package android:name="com.mi.globalbrowser" />
        <package android:name="com.xiaomi.mipicks" />
        <package android:name="com.modlily.android" />
        <package android:name="com.nimbuzz" />
        <package android:name="com.nono.android" />
        <package android:name="com.newsdog" />
        <package android:name="com.okcupid.app" />
        <package android:name="com.lbe.parallel.intl" />
        <package android:name="com.popxo" />
        <package android:name="com.pratilipi.mobile" />
        <package android:name="com.tencent.ig" />
        <package android:name="com.tencent.iglite" />
        <package android:name="com.pubg.newstate" />
        <package android:name="com.tencent.arenabreakout" />
        <package android:name="com.activision.callofduty.shooter" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.qqmusic" />
        <package android:name="com.tencent.qqmail" />
        <package android:name="com.tencent.qqlive" />
        <package android:name="com.tencent.mtt" />
        <package android:name="com.tencent.wesync" />
        <package android:name="com.qzone" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.romwe" />
        <package android:name="com.rosegal" />
        <package android:name="com.lenovo.anyshare.gps" />
        <package android:name="shareit.lite" />
        <package android:name="com.zzkko" />
        <package android:name="com.campmobile.snow" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.songspk.app" />
        <package android:name="Songs.pk" />
        <package android:name="com.melodis.midomiMusicIdentifier.freemium" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.zhiliaoapp.musically.go" />
        <package android:name="com.lemon.lvoverseas" />
        <package android:name="com.lemon.lvoverseas.lite" />
        <package android:name="com.p1.mobile.putong" />
        <package android:name="com.tatteam.totalk" />
        <package android:name="com.truecaller" />
        <package android:name="com.truecaller.lite" />
        <package android:name="com.tumblr" />
        <package android:name="com.tinder" />
        <package android:name="com.tinder.lite" />
        <package android:name="com.trulymadly.android.app" />
        <package android:name="com.UCMobile.intl" />
        <package android:name="com.uc.browser.en" />
        <package android:name="com.ucturbo" />
        <package android:name="com.uc.iflow" />
        <package android:name="com.asiainno.uplive" />
        <package android:name="com.viber.voip" />
        <package android:name="com.vimo.videoeditor" />
        <package android:name="com.nebula.vigo" />
        <package android:name="com.vmate" />
        <package android:name="com.quvideo.xiaoying" />
        <package android:name="com.quvideo.xiaoying.pro" />
        <package android:name="app.vokal.india" />
        <package android:name="com.netqin.ps" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.tencent.mm.small" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.baidu.wondercamera" />
        <package android:name="cn.jingling.motu.photowonder" />
        <package android:name="com.doubleyou.w" />
        <package android:name="cn.xender" />
        <package android:name="com.yelp.android" />
        <package android:name="us.zoom.videomeetings" />
        <package android:name="com.jungleerummy.playcashgameonline" />
        <package android:name="com.xinnew22gm.utiltysshow.twfunny" />
        <package android:name="com.games24x7.rummycircle.rummy" />
        <package android:name="com.jungleegames.rummy" />
        <package android:name="com.rozclient.game" />
        <package android:name="com.seclife.callbreak" />
        <package android:name="com.ironman.rummy365two.india.mightygame" />
        <package android:name="com.comfun.mobile.rumm.asgp" />
        <package android:name="com.teenpatti.hd.gold.rummy" />
        <package android:name="com.teenpatti.hd.gold" />
        <package android:name="com.octro.teenpatti" />
        <package android:name="com.octro.rummy" />
        <package android:name="com.bbumgames.rummystars" />
        <package android:name="com.hyilmaz.rummy.gin" />
        <package android:name="com.bbumgames.rummyrush" />
        <package android:name="funnyplay.rresd.card.needshine" />
        <package android:name="lead.happygame.trfstar.esdf.together" />
        <package android:name="com.okizvngcom.ktumnhqqwiixcir" />
        <package android:name="com.pare.prop.wly" />
        <package android:name="com.sweetgame.teenpatti" />
        <package android:name="in.stargame.funcard.org" />
        <package android:name="com.games24x7.teenpatti.playstore" />
        <package android:name="com.games24x7.ultimaterummy.playstore" />
        <package android:name="com.comfun.mobile.teen.asgp" />
        <package android:name="com.dhamal.card" />
        <package android:name="com.octro.teenpattilive" />
        <package android:name="air.com.ace2three.mobile" />
        <package android:name="com.online.real.indian.cards.palacerummy" />
        <package android:name="com.howzatfantasy.play" />
        <package android:name="com.gameskraft.rummyculturelite" />
        <package android:name="com.rummywin.client" />
        <package android:name="com.ruby.rummy" />
        <package android:name="com.surprisegame.rc4.terminator" />
        <package android:name="com.rucootinae.galoecmzyusci" />
        <package android:name="com.rumrummy.app" />
        <package android:name="com.eastudios.rummy500" />
        <package android:name="com.eastudios.rummygold" />
        <package android:name="com.kashrummy.development" />
        <package android:name="com.rummybhai.app" />
        <package android:name="io.yarsa.games.indianrummy" />
        <package android:name="com.rummy.litegame" />
        <package android:name="com.tycoon2.coon2" />
        <package android:name="com.DashRummyDeveloper.App" />
        <package android:name="com.best.rummygame.raja" />
        <package android:name="com.rummycue.empty" />
        <package android:name="com.indianrummy.onlinerummy.cardgames.taprummy" />
        <package android:name="com.super.winner.onlinegame" />
        <package android:name="com.rummytime.practice" />
        <package android:name="com.rummycircle.lite.android" />
        <package android:name="com.adda52.poker.free" />
        <package android:name="com.vindhyainfotech.classicrummyfree" />
        <package android:name="com.lefkowitzaegxo.thirdlykzgm" />
        <package android:name="com.northskygames.RummyRoyale" />
        <package android:name="com.gamezy.lite" />
        <package android:name="com.nautilus.RealCricket3D" />
        <package android:name="com.khelplay.rummy" />
        <package android:name="bYLs.wnmV.nA8NiQ" />
        <package android:name="com.sport.brunoolivas" />
        <package android:name="org.betup" />
        <package android:name="com.mw.rouletteroyale" />
        <package android:name="com.mywavia.teenpatti.android" />
        <package android:name="com.cashstorm.slots" />
        <package android:name="triwin.slots.jackpot.grand" />
        <package android:name="triwin.casino.slots.fortune.gold" />
        <package android:name="jackpotboom.slots.casino.vegas.free.android" />
        <package android:name="gambino.android" />
        <package android:name="com.williamsinteractive.jackpotparty" />
        <package android:name="com.ballytechnologies.quickhitslots" />
        <package android:name="com.scientificgames.monopolyslots" />
        <package android:name="com.bagelcode.slots1" />
        <package android:name="com.huuuge.casino.slots" />
        <package android:name="com.stgame.slots.cash" />
        <package android:name="air.com.playtika.slotomania" />
        <package android:name="com.GoldenLuck.LuckyRewards.MakeBigMoney.RealCashOut" />
        <package android:name="com.spinforcash.casino.lucky.jackpot.big.win" />
        <package android:name="com.huuuge.casino.texas" />
        <package android:name="com.slotslimited.goldencasino" />
        <package android:name="slots.pcg.casino.games.free.android" />
        <package android:name="com.trpz.travel" />
        <package android:name="com.gsn.grandcasino" />
        <package android:name="com.playtika.caesarscasino" />
        <package android:name="com.gsn.android.casino" />
        <package android:name="com.selfawaregames.acecasino" />
        <package android:name="de.whow.jackpot" />
        <package android:name="com.platogo.pmp" />
        <package android:name="eu.mvns.games" />
        <package android:name="com.abzorbagames.roulette" />
        <package android:name="com.dream11.fantasy.cricket.football.kabaddi" />
        <package android:name="com.my11circle1.android" />
        <package android:name="com.playtika.wsop.gp" />
        <package android:name="eu.ganymede.pokerhd" />
        <package android:name="com.lein.pppoker.android" />
        <package android:name="io.bbstud.pkc" />
        <package android:name="com.slotman.candyapp" />
        <package android:name="com.infiapps.pandaslots" />
        <package android:name="com.pacificinteractive.HouseOfFun" />
        <package android:name="com.nurigames.casinolive" />
        <package android:name="air.biz.rightshift.clickfun.casino" />
        <package android:name="com.aaagame.slots777" />
        <package android:name="com.triwin.lucky.dozer" />
        <package android:name="com.gbwhatsapp" />
        <package android:name="com.whatsapp.gb" />
        <package android:name="com.gbwhatsapp2" />
        <package android:name="com.whatsapp2.gb" />
        <package android:name="com.gbwhatsapp3" />
        <package android:name="com.whatsapp3.gb" />
        <package android:name="io.beldex.bchat" />
    </queries>

    <application
        android:name=".BannedAppDetectorApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Eklavya-AI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BannedAppDetector">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Eklavya-AI"
            android:theme="@style/Theme.BannedAppDetector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
